# Install dependencies
-r requirements.txt

# Install dev dependencies
black
prospector
pytest
pytest-runner
pytest-flake8
pytest-black
pytest-cov
pytest-xdist
pytest-pythonpath
pre-commit
assertpy
wheel
twine