# Install dependencies
-r requirements.txt

# Install test dependencies
black
flake8
flake8-docstrings
pytest
pytest-runner
pytest-flake8
pytest-black
pytest-cov
pytest-xdist
pytest-pythonpath
pre-commit
assertpy
